
@import url('https://fonts.googleapis.com/css2?family=Macondo:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Consolas:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');

:root{
--main-color: #009688;
--hover-color: #4CAF50;
--success-color: #43b581;
--danger-color: #982929;
--url-color: var(--main-color);

--channel-text-selected: #fff;
--channel-unread: rgb(0,165,125,1);
--channel-color: rgb(0,150,136,1);
--channels-width: 210px;
--members-width: 200px;

--muted-color: #808080;

--online-color: #43b581;
--idle-color: #faa61a;
--dnd-color: #982929;
--streaming-color: #593695;
--offline-color: #808080;

--main-font: Macondo;
--code-font: Consolas;

--background-image: url('https://clearvision.gitlab.io/images/sapphire.jpg');
--background-shading: 100%;
--background-position: center;
--background-size: cover;
--background-repeat: no-repeat;
--background-attachment: fixed;
--background-brightness: 100%;
--background-contrast: 100%;
--background-saturation: 100%;
--background-grayscale: 0%;
--background-invert: 0%;
--background-sepia: 0%;
--background-blur: 0px;
--background-overlay: rgba(0,0,0,0.6);

--rs-small-spacing: 0px;
--rs-medium-spacing: 0px;
--rs-large-spacing: 0px;
--rs-small-width: 1.5px;
--rs-medium-width: 1.5px;
--rs-large-width: 1.5px;
--rs-avatar-shape: 50%;
--rs-online-color: #43b581;
--rs-idle-color: #faa61a;
--rs-dnd-color: #f04747;
--rs-offline-color: #636b75;
--rs-streaming-color: #643da7;
--rs-phone-visible: block;

--user-popout-image: url('https://clearvision.gitlab.io/images/sapphire.jpg');
--user-popout-position: center;
--user-popout-size: cover;
--user-popout-repeat: no-repeat;
--user-popout-attachment: fixed;
--user-popout-brightness: 100%;
--user-popout-contrast: 100%;
--user-popout-saturation: 100%;
--user-popout-grayscale: 0%;
--user-popout-invert: 0%;
--user-popout-blur: 0px;

--user-modal-image: url('https://clearvision.gitlab.io/images/sapphire.jpg');
--user-modal-position: center;
--user-modal-size: cover;
--user-modal-repeat: no-repeat;
--user-modal-attachment: fixed;
--user-modal-brightness: 100%;
--user-modal-contrast: 100%;
--user-modal-saturation: 100%;
--user-modal-grayscale: 0%;
--user-modal-invert: 0%;
--user-modal-blur: 3px;

--home-icon: url('https://clearvision.gitlab.io/icons/discord.svg');
--home-position: center;
--home-size: 40px;

--backdrop-overlay: rgba(0,0,0,0.8);
--backdrop-image: var(--background-image);
--backdrop-position: var(--background-position);
--backdrop-size: var(--background-size);
--backdrop-repeat: var(--background-repeat);
--backdrop-attachment: var(--background-attachment);
--backdrop-brightness: var(--background-brightness);
--backdrop-contrast: var(--background-contrast);
--backdrop-saturation: var(--background-saturation);
--backdrop-invert: var(--background-invert);
--backdrop-grayscale: var(--background-grayscale);
--backdrop-sepia: var(--background-sepia);
--backdrop-blur: var(--background-blur);
--bd-blue: var(--main-color);
--bd-blue-hover: var(--hover-color);
--bd-blue-active: var(--hover-color);
}
